
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}


.clearfix{
    float: none;
    clear: both;
}


#global{
    width: 65%;
    background: white;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 15px black;
    min-height:1000px;
    

}

#logo{
    font-family: "Verdana","Arial";
    font-size: 30px;
    letter-spacing: 3px;
    color:white;
    text-align: center;
    width: 390px;
    height: 75px;
    float: left;
    margin-bottom: 30px;
    line-height: 80px;
}

#nav{
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    width: 100%;
    margin-bottom: 20px;
    
}

#nav ul{
    line-height: 46px;

}

#nav ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}



#nav a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left:30px;
    padding-right: 30px;

}

#post{
    width: 60%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;

}

.post h2{
    font-size: 30px;
    color: #333;
}

.post .date {
    display: block;
    color: gray;
    margin-top:5px;
}

.post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
}

.btn-success{
    float: right;
}

#sidebar{
    font-family: Arial, Helvetica, sans-serif;
    width: 31%;
    float: right;

}

#sidebar h4{
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;

}

#sidebar img {
    width: 100%;
}

#sidebar p{
    font-size: 10px;
    text-align: justify;
}

input[type='text'],input[type='password'],input[type='email']{
    margin-bottom: 10px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 47px;
    background: rgba(51, 51, 51,0.70);
    margin: 0px auto;
    width: 65%;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
}

#slider{
    width: 100%;
    
}

#slider img {
    width: 100%;
    padding:5px;
    box-shadow: 0px 0px 15px black;
}

#slider div.caption{
    width: 100%;
    height:100%;
    align-items: center;
    text-align: center;
}
 h3.epoca{
    font-size: 101px;
    position: relative;
    top:278px;
    color: white;
}
li div.circulos{
    width:15px;
    height:15px;
    background: #c6c6c6;
    border-radius: 50%;
    margin-left:10px;
    margin-right: 10px;
    cursor: pointer;
}


.pagination{
position:absolute;
left:45%;
}

.flechas{
    position:absolute;
    width: 60%;
    top:80%;
}
.left{
    color: white;
    font-size: 65px;
    float: left;
    cursor: pointer;
    position: relative;
    top: -323px;
    left:36px;
}
.right{
    color: white;
    font-size: 65px;
    float: right;
    cursor: pointer;
    position: relative;
    top: -323px;
    right:36px;
}

.active{
    background: #235e3d;
}

div.temas{
    width:104px;
    height:239px;
    background:rgba(51, 51, 51,0.70);
    position: fixed;
    top:200px;
    left:10px;

}

div.temas div.tema{
    display: block;
    border: 1px solid white;
    width:70px;
    height:50px;
    margin-left:15px;
    margin-bottom:9px;
    cursor: pointer;
    margin-top:7px;
    border-radius: 3px;
}

div.tema img {
    position: relative;
    top: 3px;
    left: 8px;
    width:50px;
    height:40px;
}

.invierno{
    background:#006997;
}

.verano{
    background:#235e3d;
}

.otono{
    background:#870E0E;
}

.primavera{
    background: #FF8686;
}

#acordeon h3{
    padding: 3px;
    text-align: center;
    cursor: pointer;
}

#acordeon .contenido_acordeon{
    padding: 15px;
    box-shadow: 0px 0px 5px #c6c6c6;
    margin-bottom: 10px;
}

@font-face{
    font-family: digital;
    src: url(digital.TTF)
}

div#reloj_digital h1{
    background: black;
    color: white;
    font-family: digital;
    font-size: 160px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 15px black;
   
}

div#reloj_digital h2{
    font-size: 75px;
    position: relative;
    left:1px;
    top: 1px;
    text-align: center;
}
div#formulario_registro input{
    display: block;
    
}
div#formulario_registro{
    position: relative;;
    top:36px;
    left:11%;
    width: 80%;
    box-shadow: 0px 0px 15px #c6c6c6;
    padding: 20px;
}

div#formulario_registro h2{
    text-align: center;
}


div#formulario_registro input{
    margin-top:25px;
    margin-bottom:25px;
}

div#formulario_registro input[type="radio"]{
    display: inline;
    margin-left:10px;
}

div#formulario_registro button{
    margin-top: 10px;
    display: block;
}

#carnet{
    width:588px;
    position: relative;
    top: 47px;
}

div#formulario_registro h3{
    font-size: 24px;
    position: relative;
    top:-258px ;
    left: 244px;
    margin-top:13px;
}

.ficha_avatar{
    position: relative;
    top:-485px;
    left:17px;
    width: 171px;
    height:210px;
}