
                <header>
                    <div id="logo">
                        <h1>Estaciones</h1>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <nav id="nav">
                            <ul>
                                <li><a href="#">INICIO</a></li>
                                <li><a href="#">RELOJ</a></li>
                                <li><a href="#">SOBRE MI</a></li>
                                <li><a href="#">REGISTRO</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>