
                <header>
                    <div class="header">
                        <div id="logo">
                        <h1>Estaciones</h1>
                    </div>
                    <div id="nav">
                        <nav >
                            <ul>
                                <li><a href="/">INICIO</a></li>
                                <li><a href="/reloj">RELOJ</a></li>
                                <li><a href="/sobreMi">SOBRE MI</a></li>
                                <li><a href="/registro">REGISTRO</a></li>
                            </ul>
                        </nav>
                    </div>
                    </div>
                </header>