 <div class="temas">
        <div class="tema invierno">
            <img src="assets/img/theme.png" alt="">
        </div>
        <div class="tema verano" >
            <img src="assets/img/theme.png" alt="">
        </div>
        <div class="tema primavera" >
            <img src="assets/img/theme.png" alt="">
        </div>
        <div class="tema otono" >
            <img src="assets/img/theme.png" alt="">
        </div>
        
    </div>