body{
    background: url('/assets/img/verano.jpg');
    background-size: cover;
}

#logo{

    background: #235e3d;
    
}

#nav ul li:hover{
    background: #235e3d;
}
div#reloj_digital h1{
    color: #235e3d;
}
li div.circulos:hover{
    background: #235e3d;
}

.btn{
    background: #235e3d;
    color: white;
}

.active_li{
    background: #235e3d !important;
}


#acordeon h3{
   
    background: #235e3d !important;
    color: white;
}