#global{
    display: grid;
    grid-template-areas: "header"
                         "slider"
                         "post";
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    min-height:1000px;
}

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);
    grid-gap: 10px;
}

.header #logo {
    grid-column: span 1;
}
.header #nav {
    grid-column: span 2;
    width: 100%;
}

#slider{
    grid-area: slider;
    width: 100%;
    
}

#contenido{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#post{
    grid-column: span 2;
}

#sidebar{
    grid-column: span 1;
}

@media screen and (max-width:768px){

    #post{
        grid-column: span 3;
    }

    #sidebar{
        grid-column: span 3;
    }

    #slider{
        display: none;
        
    }

    .header #logo {
        grid-column: span 2;
    }

    #global{
        width: 80%;
    }
    
}