body{
    background: url('/assets/img/primavera.jpg');
    background-size: cover;
}

#logo{

    background: #FF8686;
    
}

#nav ul li:hover{
    background: #FF8686;
}

li div.circulos:hover{
    background: #FF8686;
}

.btn{
    background: #FF8686;
    color: white;
}

.active_li{
    background: #FF8686 !important;
}


#acordeon h3{
  
    background: #FF8686 !important;
    color: white;
}